# dependencies
node_modules

# production
build

# misc
.DS_Store

npm-debug.log
yarn-error.log
yarn.lock
.yarnclean

.python_packages
__pycache__
.venv
analytics/ncc-data-processor/.vscode

# azure function settings
func_settings.json